<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.meplus.robot">

    <uses-sdk tools:overrideLibrary="com.facebook.shimmer" />

    <!-- fabric -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- fir.im -->
    <!-- 必选 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 可选 -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <!-- leancloud 基础模块（必须加入以下声明）START -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 基础模块 END -->
    <!-- bar code -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- PubNub Dependencies -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- bluetooth -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <!-- phone intent -->
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <!-- feedback -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <application
        android:name=".app.MPApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="9fbcf46a17338c0ed7859bc5de7a96c85313f88d" />
        <meta-data
            android:name="BUG_HD_SDK_GENERAL_KEY"
            android:value="3193935cc8df0170d8e975183cbec4b0" />

        <activity
            android:name=".activity.LogoActivity"
            android:screenOrientation="landscape"
            android:theme="@style/StartAppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ModifyActivity"
            android:screenOrientation="landscape"
            android:theme="@style/StartAppTheme" />
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="landscape"
            android:theme="@style/StartAppTheme" />
        <activity
            android:name=".activity.SettingsActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.TestsActivity"
            android:screenOrientation="landscape"
            android:theme="@style/StartAppTheme" />
        <!-- bluetooth -->
        <activity
            android:name=".activity.DeviceListActivity"
            android:screenOrientation="landscape"
            android:theme="@style/StartAppTheme" />
        <activity
            android:name="com.meplus.activity.VideoActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.meplus.activity.RecordActivity"
            android:screenOrientation="landscape" />
        <!-- feedback -->
        <activity
            android:name="com.avos.avoscloud.feedback.ThreadActivity"
            android:screenOrientation="landscape" />

    </application>

</manifest>
