<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.meplus.punub">

    <application
        android:allowBackup="true"
        android:supportsRtl="true">

    </application>

    <!-- PubNub Dependencies -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />


</manifest>
